$colors: (
  primary: #023867,
  primary-light: lighten(#023867, 40%),
  accent: #fcae28,
);

$font-main: "Arial", "Helvetica Neue", Helvetica, sans-serif;
$padding: 15px;
$borders: 15px;

$tablet: 800px;
$mobile: 576px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffc8c8;
  color: #790604;
  font-family: $font-main; /* Uses given font family */
  text-align: center;
}


header {
  background-color: #410807;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  color: #f9e6e6;
  padding: 0.5em;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
}

nav {
  font-size: 120%;
  font-weight: bold;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

nav ul {
  font-size: 1.25em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffc8c8;
}

nav a {
  text-decoration: none;
  transition: color 1.5s ease-out;
}

nav a:link {
  color: #f9e6e6;
}

nav a:hover {
  color: #d29a99;
}

main {
  background-color: #f9e6e6;
  padding: 1px $padding 20px $padding;
  display: block;
  overflow: auto;
}

li {
  float: left;
}

li a,
.nav {
  display: block;
  color: #790604;
  text-align: center;
  padding: $padding;
  text-decoration: none;
}

li a:hover {
  background-color: #ffc8c8;
}

.container {
  border-radius: $borders;
  background-color: #f9e6e6;
  padding: $padding;
}
.three-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.three-column > * {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.three-column img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .three-column > * {
    flex-basis: 100%;
  }
}
